:root {
    --main_color: #ececec;
    --secondary_color: #b4b4b4;
    --secondary_color_trs: rgba(180, 180, 180, 0.5);
    --main_bg: #212121;
    --side_bg_color: #171717;
    --pop_bg_color: #2f2f2f;
    --hover_pop_bg_color: #424242;
    --error_color: rgb(228, 44, 44);
    --blue_color: #0877b9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

*::-webkit-scrollbar {
    width: 5px;
    background: var(--pop_bg_color);
}

*::-webkit-scrollbar-thumb {
    border: 999px;
    background: var(--secondary_color);
}

body {
    min-width: 300px;
    background: var(--pop_bg_color);
    border: .5px solid var(--secondary_color_trs);
    padding: .5rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    .topnav {
        display: flex;
        align-items: center;
        gap: .5rem;

        user-select: none;

        .logo {
            width: 26px;
            aspect-ratio: 1;
            object-fit: cover;
        }

        .name {
            display: flex;
            align-items: center;

            h1 {
                font-size: 20px;
                font-weight: 700;
                color: var(--main_color);

                &:nth-child(2) {
                    text-decoration: underline;
                }
            }
        }

        .toggle-container {
            margin-left: auto;

            display: none;

            cursor: pointer;
            width: 40px;
            height: 22px;
            border-radius: 11px;
            background: var(--hover_pop_bg_color);

            position: relative;

            &::after {
                position: absolute;
                content: "";
                top: 2px;
                left: 2px;

                transition: .3s ease-in-out;

                height: 18px;
                aspect-ratio: 1;
                border-radius: 50%;
                background: var(--error_color);
            }

            &.active {
                &::after {
                    transform: translateX(18px);
                    background: var(--blue_color);
                }
            }

            &.show {
                display: flex;
            }
        }

        button {
            /* margin-left: auto; */

            background: transparent;
            border: 0;
            outline: none;
            cursor: pointer;

            display: none;
            align-items: center;
            justify-content: center;

            &.show {
                display: flex;
            }
        }
    }

    .pinned-container {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        .pinned {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: .5rem;

            position: relative;

            &::after {
                position: absolute;
                content: "";
                right: 0;
                bottom: -2px;
                width: 25%;
                height: 1px;
                border-radius: 50%;
                background: linear-gradient(to left, var(--secondary_color), transparent 80%);
            }

            .pinned-title {
                font-size: 16px;
                line-height: 20px;
                color: var(--main_color);
            }

            .pinned-buttons {
                display: flex;
                align-items: center;
                gap: .65rem;

                .view-link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .delete {
                    background: transparent;
                    border: 0;
                    outline: none;
                    cursor: pointer;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .no-discussion-container {
            width: 100%;
            padding-block: .5rem;

            .no-discussion-content {
                font-size: 16px;
                font-weight: 600;
                color: var(--secondary_color);
                text-align: center;
            }
        }

        .empty-discussions-container {
            width: 100%;
            padding-block: .5rem;

            .empty-discussions-content {
                font-size: 16px;
                font-weight: 600;
                color: var(--error_color);
                text-align: center;
            }
        }
    }

    .footer {
        margin-left: auto;
        user-select: none;
        color: var(--secondary_color);

        display: flex;
        align-items: center;
        gap: .25rem;

        a {
            color: var(--secondary_color);

            &:hover {
                color: var(--main_color);
            }
        }
    }
}